@keyframes anim-loading-logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes nav-coming {
    0% {
        opacity:0;
        transform: translateY(-50px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes main-coming {
    0%{
        width:30px;
        height:30px;
        top:-30px;
    }
    50%{
        width:20px;
        height:60px;
        top:60%;
    }
    55% {
        width:60px;
        height:20px;
        top:60%;
    }
    100% {
        width:170vw;
        height:100vh;
        top: 40%;
    }
}
@keyframes main-descr-coming {
    0%{
        opacity:0;
        left: 0vw;
    }
    100%{
        opacity:1;
        left:15vw;
    }
}
@keyframes lookBottom-coming {
    0% {
        opacity:0;
        top:90vh;
        &::after,
        &::before {
            opacity: 0;
        }
    }
    100% {
        opacity:1;
        top:95vh;
        &::after,
        &::before {
            opacity: 1;
        }
    }
}
@keyframes animated-phone {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(203px);
    }
    50%{
        transform: translateX(406px);
    }
    75%{
        transform: translateX(609px);
    }
    100%{
        transform:translateX(0px);
    }
}
@keyframes animated-drone {
    0%{
        transform: translateX(-4px) translateY(-30px);
    }
    50%{
        transform: translateX(4px) translateY(20px);
    }
    100%{
        transform: translateX(-4px) translateY(-30px);
    }
}
@keyframes animation-coming {
    0% {
        right: -20vw;
        opacity:0;
    }
    100% {
        right:10vw;
        opacity:1;
    }
}
@media screen and (min-width: 500px) and (max-width: 1250px) {
    @keyframes animation-coming {
        0% {
            left: 100vw;
            opacity:0;
        }
        100% {
            left:60vw;
            opacity:1;
        }
    }
}
@media screen and (min-width: 1250px) and (max-width: 1450px) {
    @keyframes animation-coming {
        0% {
            right: -20vw;
            opacity:0;
        }
        100% {
            right:0vw;
            opacity:1;
        }
    }
}
@keyframes animated-ref {
    0%{
        transform: translateY(0px);
        opacity:0;
    }
    20%{
        transform: translateY(-20px);
        opacity: 1;
    }
    30%{
        transform: translateY(-40px);
        opacity: 0;
    }
    100%{
        transform: translateY(-50px);
        opacity: 0;
    }
}
@keyframes animated-staircase {
    0% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-2px);
    }
    50% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(2px);
    }
    100%{
        transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-2px);
    }
}
