.main-logo.loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;

    .logo.loading {
        display: block;
        position: relative;
        width: 110px;
        height: 110px;
        transform-origin: center;
        background-color: red;
        animation-name: anim-loading-logo;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        animation-timing-function: linear;

        span {
            display: block;
            width: 16px;
            height: 75px;
            border-radius: 70px;
            transform-origin: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        :nth-child(1) {
            background-color: $first-color;
            top: 0%;
            left: 16%;
            transform: rotate(30deg);
        }
        :nth-child(2) {
            background-color: $second-color;
            top: 50%;
            left: 44%;
            transform: rotate(90deg);
        }
        :nth-child(3) {
            background-color: $third-color;
            top: 0%;
            left: 69%;
            transform: rotate(-30deg);
        }
    }
}


.hidden {
    opacity:0;
}