.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    width: 100vw;
    height: 100vh;
    transition:all 300ms ease-in-out;

    .logo {
        display: block;
        position: relative;
        width: 110px;
        height: 110px;
        transform-origin: center;
        animation-name: anim-loading-logo;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        animation-timing-function: linear;
        transition:all 300ms ease-in-out;

        span {
            display: block;
            width: 16px;
            height: 75px;
            border-radius: 70px;
            transform-origin: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition:all 300ms ease-in-out;
        }
        :nth-child(1) {
            background-color: $first-color;
            top: 0%;
            left: 16%;
            transform: rotate(30deg);
        }
        :nth-child(2) {
            background-color: $second-color;
            top: 50%;
            left: 44%;
            transform: rotate(90deg);
        }
        :nth-child(3) {
            background-color: $third-color;
            top: 0%;
            left: 69%;
            transform: rotate(-30deg);
        }
        :nth-child(4) {
            opacity:0;
            background-color: $second-color-gradient;
            top: 5%;
            left: 50%;
            transform: rotate(-25deg);
            z-index: 1;
        }
    }
    .name {
        opacity:0;
        position:absolute;
    }
}


.hidden {
    opacity:0;
}