.main-logo.loaded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
    z-index: 999999;
    overflow:hidden;
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0);
    width: 66px;
    height: 70px;
    transition:all 300ms ease-in-out;

    .logo {
        display: inline-block;
        position: relative;
        width: 66px;
        height: 45px;
        transform-origin: center;
        animation-name: none;

        span {
            display: block;
            width: 16px;
            height: 42px;
            border-radius: 70px;
            transform-origin: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition:all 300ms ease-in-out;
        }
        :nth-child(1) {
            background: $first-color-gradient;
            top: 5%;
            left: 10%;
            transform: rotate(-25deg);
            z-index: 1;
        }
        :nth-child(2) {
            background-color: $second-color;
            top: 5%;
            left: 28%;
            transform: rotate(25deg);
            z-index: 2;
        }
        :nth-child(3) {
            background: $third-color-gradient;
            top: 5%;
            left: 61%;
            transform: rotate(25deg);
            z-index: 2;
        }
        :nth-child(4) {
            opacity:1;
            background: $second-color-gradient;
            top: 5%;
            left: 44%;
            transform: rotate(-25deg);
            z-index: 1;
        }
    }
    .name {
        opacity:1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        position: static;
    }
    h1 {
        position: absolute;
        top:-2250px;
    }
}

header.start {
    .main-logo.loaded {
        .logo {
            :nth-child(1) {
                background: linear-gradient(180deg, #FFFFFF 26.56%, rgba(255, 255, 255, 0) 97.92%);
            }
            :nth-child(2) {
                background: white;
            }
            :nth-child(3) {
                background: white;
            }
            :nth-child(4) {
                background: linear-gradient(180deg, #FFFFFF 26.56%, rgba(255, 255, 255, 0) 97.92%);
            }
        }
        .name {
            color:white;
        }
    }
}

.hidden {
    opacity:0;
}