.main-descr {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: center;
    width:100vw;
    height:100vh;
    overflow: hidden;

    .bg{
        width:170vw;
        height:100vh;
        position:absolute;
        z-index: -9999;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background: radial-gradient(89.65% 89.65% at 102.13% 133.32%, #FFC603 0%, rgba(255, 198, 3, 0) 100%), #D35C50;
        animation-name: main-coming;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0s;
            animation-timing-function: cubic-bezier(.65,.27,.56,1.55);
    }
    .descr {
        position:absolute;
        top:35vh;
        left: 0vw;
        opacity:0;
        width:400px;
        animation-name: main-descr-coming;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 1.3s;
            animation-timing-function: ease-in-out;

        h2 {
            color:white;
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 150%;
            strong {
                display:inline-block;
                font-size: 40px;
            }
        }
        p {
            color:white;
            font-weight: 300;
            font-size: 17px;
            line-height: 180%;
            margin-top:20px;
            margin-bottom:35px;
        }
        .CTA {
            font-family: 'Roboto', sans-serif;
            padding:8px 28px;
            background:white;
            color:$first-color;
            border-radius: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:200px;
            strong {
                display: inline-block;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }
    .look-bottom {
        position:relative;
        width:33px;
        height:18px;
        top:90vh;
        opacity:0;
        animation-name: lookBottom-coming;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 1.9s;
            animation-timing-function: ease-in-out;

        &::after,
        &::before {
            content:"";
            display:block;
            width:23px;
            height:3px;
            border-radius:70px;
            background:$first-color;
            position:absolute;
        }
        &::before {
            bottom:100%;
            left:-2px;
            transform: rotate(45deg);
        }
        &::after {
            bottom:100%;
            right:-2px;
            transform: rotate(-45deg);
        }
    }
}
