$first-color: #CE4639;
$second-color: #FFC603;
$third-color: #5D959E;
$first-color-gradient: linear-gradient(180deg, #CE4639 26.56%, #4D1A15 100%);
$second-color-gradient: linear-gradient(180deg, #FFC603 28.65%, #453500 100%);
$third-color-gradient: linear-gradient(180deg, #5D959E 27.6%, #35595F 100%);