@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i,900&display=swap");
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 180%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  color: black;
  background-color: none;
}

input {
  border: none;
  background-color: none;
  color: black;
}

fieldset {
  border: none;
}

section {
  margin: 0;
  padding: 0;
}

article {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100vw;
}

figure {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-logo .logo {
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: anim-loading-logo;
          animation-name: anim-loading-logo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-logo .logo span {
  display: block;
  width: 16px;
  height: 75px;
  border-radius: 70px;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-logo .logo :nth-child(1) {
  background-color: #CE4639;
  top: 0%;
  left: 16%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.main-logo .logo :nth-child(2) {
  background-color: #FFC603;
  top: 50%;
  left: 44%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-logo .logo :nth-child(3) {
  background-color: #5D959E;
  top: 0%;
  left: 69%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.main-logo .logo :nth-child(4) {
  opacity: 0;
  background-color: linear-gradient(180deg, #FFC603 28.65%, #453500 100%);
  top: 5%;
  left: 50%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 1;
}

.main-logo .name {
  opacity: 0;
  position: absolute;
}

.main-logo h1 {
  position: absolute;
  top: -2250px;
}

.hidden {
  opacity: 0;
}

.main-logo.loaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
  z-index: 999999;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0);
  width: 66px;
  height: 70px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-logo.loaded .logo {
  display: inline-block;
  position: relative;
  width: 66px;
  height: 45px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: none;
          animation-name: none;
}

.main-logo.loaded .logo span {
  display: block;
  width: 16px;
  height: 42px;
  border-radius: 70px;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-logo.loaded .logo :nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.56%, #CE4639), to(#4D1A15));
  background: linear-gradient(180deg, #CE4639 26.56%, #4D1A15 100%);
  top: 5%;
  left: 10%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 1;
}

.main-logo.loaded .logo :nth-child(2) {
  background-color: #FFC603;
  top: 5%;
  left: 28%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 2;
}

.main-logo.loaded .logo :nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.6%, #5D959E), to(#35595F));
  background: linear-gradient(180deg, #5D959E 27.6%, #35595F 100%);
  top: 5%;
  left: 61%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 2;
}

.main-logo.loaded .logo :nth-child(4) {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28.65%, #FFC603), to(#453500));
  background: linear-gradient(180deg, #FFC603 28.65%, #453500 100%);
  top: 5%;
  left: 44%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 1;
}

.main-logo.loaded .name {
  opacity: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  position: static;
}

.main-logo.loaded h1 {
  position: absolute;
  top: -2250px;
}

header.start .main-logo.loaded .logo :nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.56%, #FFFFFF), color-stop(97.92%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 26.56%, rgba(255, 255, 255, 0) 97.92%);
}

header.start .main-logo.loaded .logo :nth-child(2) {
  background: white;
}

header.start .main-logo.loaded .logo :nth-child(3) {
  background: white;
}

header.start .main-logo.loaded .logo :nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.56%, #FFFFFF), color-stop(97.92%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 26.56%, rgba(255, 255, 255, 0) 97.92%);
}

header.start .main-logo.loaded .name {
  color: white;
}

.hidden {
  opacity: 0;
}

header {
  position: fixed;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86vw;
  height: 100px;
  display: flex;
  padding-left: 7vw;
  padding-right: 7vw;
  background: whitesmoke;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  -webkit-animation-name: nav-coming;
          animation-name: nav-coming;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

header .main-nav ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .main-nav ul li:not([class="CTA"]):hover,
header .main-nav ul li:not([class="CTA"]):focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

header .main-nav ul .CTA {
  background: linear-gradient(261.8deg, #CE4639 -16.77%, #FFC603 163.27%);
  padding: 8px 28px 8px 28px;
  border-radius: 70px;
  width: 70px;
  height: 14px;
  position: relative;
  overflow: hidden;
}

header .main-nav ul .CTA::after {
  content: "";
  display: block;
  position: absolute;
  background: #FFC603;
  width: 150px;
  height: 100px;
  top: 50%;
  left: -100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) rotate(15deg);
          transform: translate(-50%, -50%) rotate(15deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 0;
}

header .main-nav ul .CTA:hover::after, header .main-nav ul .CTA:focus::after {
  left: 50%;
}

header .main-nav ul .CTA .askPrice {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .main-nav ul .CTA:hover .askPrice,
header .main-nav ul .CTA:focus .askPrice {
  color: white;
}

header.start {
  background: rgba(250, 250, 250, 0);
}

header.start .main-nav ul li a {
  color: white;
}

header.start .main-nav ul .CTA {
  background: white;
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 10px #FFFFFF;
          box-shadow: 0px 0px 10px #FFFFFF;
}

header.start .main-nav ul .CTA .askPrice {
  color: #CE4639;
}

.main-descr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-descr .bg {
  width: 170vw;
  height: 100vh;
  position: absolute;
  z-index: -9999;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  background: radial-gradient(89.65% 89.65% at 102.13% 133.32%, #FFC603 0%, rgba(255, 198, 3, 0) 100%), #D35C50;
  -webkit-animation-name: main-coming;
          animation-name: main-coming;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
          animation-timing-function: cubic-bezier(0.65, 0.27, 0.56, 1.55);
}

.main-descr .descr {
  position: absolute;
  top: 35vh;
  left: 0vw;
  opacity: 0;
  width: 400px;
  -webkit-animation-name: main-descr-coming;
          animation-name: main-descr-coming;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main-descr .descr h2 {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}

.main-descr .descr h2 strong {
  display: inline-block;
  font-size: 40px;
}

.main-descr .descr p {
  color: white;
  font-weight: 300;
  font-size: 17px;
  line-height: 180%;
  margin-top: 20px;
  margin-bottom: 35px;
}

.main-descr .descr .CTA {
  font-family: 'Roboto', sans-serif;
  padding: 8px 28px;
  background: white;
  color: #CE4639;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.main-descr .descr .CTA strong {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
}

.main-descr .look-bottom {
  position: relative;
  width: 33px;
  height: 18px;
  top: 90vh;
  opacity: 0;
  -webkit-animation-name: lookBottom-coming;
          animation-name: lookBottom-coming;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main-descr .look-bottom::after, .main-descr .look-bottom::before {
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  border-radius: 70px;
  background: #CE4639;
  position: absolute;
}

.main-descr .look-bottom::before {
  bottom: 100%;
  left: -2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-descr .look-bottom::after {
  bottom: 100%;
  right: -2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes anim-loading-logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes anim-loading-logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes nav-coming {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav-coming {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes main-coming {
  0% {
    width: 30px;
    height: 30px;
    top: -30px;
  }
  50% {
    width: 20px;
    height: 60px;
    top: 60%;
  }
  55% {
    width: 60px;
    height: 20px;
    top: 60%;
  }
  100% {
    width: 170vw;
    height: 100vh;
    top: 40%;
  }
}

@keyframes main-coming {
  0% {
    width: 30px;
    height: 30px;
    top: -30px;
  }
  50% {
    width: 20px;
    height: 60px;
    top: 60%;
  }
  55% {
    width: 60px;
    height: 20px;
    top: 60%;
  }
  100% {
    width: 170vw;
    height: 100vh;
    top: 40%;
  }
}

@-webkit-keyframes main-descr-coming {
  0% {
    opacity: 0;
    left: 0vw;
  }
  100% {
    opacity: 1;
    left: 20vw;
  }
}

@keyframes main-descr-coming {
  0% {
    opacity: 0;
    left: 0vw;
  }
  100% {
    opacity: 1;
    left: 20vw;
  }
}

@-webkit-keyframes lookBottom-coming {
  0% {
    opacity: 0;
    top: 90vh;
    ::after,
    ::before {
      opacity: 0;
    }
  }
  100% {
    opacity: 1;
    top: 95vh;
    ::after,
    ::before {
      opacity: 1;
    }
  }
}

@keyframes lookBottom-coming {
  0% {
    opacity: 0;
    top: 90vh;
    ::after,
    ::before {
      opacity: 0;
    }
  }
  100% {
    opacity: 1;
    top: 95vh;
    ::after,
    ::before {
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=style.css.map */